@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.user-app {
  scroll-behavior: smooth;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #5C7CFA orange; 
}

/* cursor lading page*/
.cursor-chg {
  cursor: url('/cursors/cursor_sm.png'), auto;
}
/* hero landing page */
.hero-clip {
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
.rhm-clip {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.user-index {
  overflow-x: auto;
  white-space: nowrap;
  padding: 16px;
  -ms-overflow-style: auto;
  scrollbar-width: none; 
  &::-webkit-scrollbar {
    width: 4px;
    height: 2px;
  }
}

.other-scrollbar {
  overflow-y: auto;
  white-space: nowrap;
  padding: 16px;
  -ms-overflow-style: auto;
  scrollbar-width: none; 
  &::-webkit-scrollbar {
    width: 4px;
    height: 2px;
  }
}

.chat-scroll {
  -ms-overflow-style: auto;
  scrollbar-width: none; 
  &::-webkit-scrollbar {
    width: 2px;

  }
}


/* For Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 15px; 
}

::-webkit-scrollbar-track {
  background: orange; 
}

::-webkit-scrollbar-thumb {
  background-color: #5C7CFA;
  border-radius: 20px;
}

.landing-page {
    background-image: url("/bg_texture.png"), linear-gradient(to bottom, #fdf7ef, #fdf7ef);
    background-size: auto, cover; 
    background-repeat: repeat, no-repeat; 
    background-color: #fdf7ef;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #5C7CFA;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}

@media only screen and (max-width: 768px) {
  .landing-page {
    background-image: url("/bg_texture.png"), linear-gradient(to bottom, #fdf7ef, #fdf7ef);
    background-size: auto, cover; 
    background-repeat: repeat, no-repeat;
}
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* temp */
#videos{
  position: relative;
  height: 85vh;
  width: 100vw;
  margin: auto;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  justify-items: center;
  align-items: center;
  margin-top: -50px;
}

.vid{
  position: relative;
  background-color:black;
  height: 80%;
  width: 85%;
  border-width: 1px;
  border-color: #38373A;
  border-style: solid;
  border-radius: 20px;
  overflow: hidden;
}

.controls{
  position: absolute;
  z-index: 1;
  
}

.controls p{
  padding: 10px;
  cursor: pointer;
  background: #38373A;
  color: #F7F7F7;
  border-width: 1px;
  border-color: #F7F7F7;
  border-style: solid;
}

.controls p.on{
  background: #F7F7F7;
  color: #38373A;
  border-width: 1px;
  border-color: #38373A;
  border-style: solid;
}

.join{
  position: absolute;
  z-index: 1;
  width: 30vw;
  height: fit-content;
  height: -moz-max-content;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 75vw;
}

.join  input{
  padding: 15px;
  font-size: 1rem;
  border-width: 1px;
  border-color: #38373A;
  border-style: solid;
  width: 80%;
  display: block;
  margin:  50px auto;
}

