@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.user-app {
  scroll-behavior: smooth;
}

/* For the entire page */
.user-index {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #5C7CFA orange; /* For Firefox: thumb and track color */
}

/* For Webkit (Chrome, Safari, etc.) */
.user-index::-webkit-scrollbar {
  width: 4px; 
}

html {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #5C7CFA orange; /* For Firefox: thumb and track color */
}

/* For Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 15px; 
}

::-webkit-scrollbar-track {
  background: orange; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: blue; /* Thumb color */
  border-radius: 20px;
}

@media (max-width: 768px) {
  html {
    scrollbar-width: auto; /* Reset for Firefox */
    scrollbar-color: auto; /* Reset for Firefox */
  }

  ::-webkit-scrollbar {
    width: auto; /* Reset for Webkit browsers */
  }
}
/* calendar date picker */

.react-datepicker {
  border: 1px solid #E2E8F0; /* Chakra UI's gray.200 */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.react-datepicker__header {
  background-color: #319795;
  border-bottom: 1px solid #E2E8F0;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #2D3748; /* Chakra UI's gray.700 */
}

.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
  background-color: #3182CE; /* Chakra UI's blue.500 */
  color: white;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #5C7CFA;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}